<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand " routerLink="/" routerLinkActive="active">
        <img src="../../assets/facial.svg" width="45" height="45" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <!--<li class="nav-item">
                <a *ngIf="currentUser" class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" routerLink="/authorized" routerLinkActive="active">Authorized</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/unauthorized" routerLinkActive="active">Intruder</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/remoteControl" routerLinkActive="active">Remote Control</a>
            </li>
        </ul>
        <ul class="navbar-nav navbar-right">
            <li class="nav-item">
                <a routerLink="/login" class="nav-link" routerLinkActive="active">Logout</a>
            </li>
        </ul>

    </div>
</nav>

<div class="container mt-5">
    <ul class="list-group">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h4 class="my-auto">Arduino No.1</h4>
                <h4 class="my-auto"><a href="">192.168.13.1</a></h4>
            </div>
        </li>
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <h4 class="my-auto">Arduino No.2</h4>
                <h4 class="my-auto"><a href="">192.168.64.16</a></h4>
            </div>
        </li>
    </ul>
</div>